/* Primary  style css */
*{
  margin: 0;
  padding: 0;
  font-family: work sans;
}

.container{
  width: 1100px;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

/* Header Banner Section */

header{
  width: 100%;
  height: 100vh;
  background-image: url("./images/banner/banner1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content-right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  align-items: center;
}

.banner-content{
  width: 45%;
  text-align: right;
  align-items: center;
}

/* banner content style */

.banner-content h1{
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  color: #151414;
}

.banner-content p{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  color: #444343;
}

.banner-content .btn{
   padding: 15px 25px;
   border-radius: 5px;
   border: none;
   font-size: 18px;
   color: #fff;
   margin-top: 15px;
   background-color: #F15B22;
}


/* My failures of previous year Section style */

.my-failures{
  display: flex;
  justify-content: space-between;
  gap: 87px;
  align-items: center;
  margin: 100px 0px;
}

.my-failure-img{
  width: 50%;
}

.my-failure-content{
  width: 50%;
}

.my-failure-content h2{
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;
}

.my-failure-content p{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding: 17px 0px;
}

.my-failure-content li{
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 4px;
  color: #444343;
}

.my-failure-content li i{
  padding: 5px;
  color: #16D887;
}